<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="codeMapper">
	<resultMap type="code" id="codeResultSet">

		<result column="MAIN_CATE_CD" property="mainCateCd" />
		<result column="MAIN_CATE" property="mainCate" />
		<result column="MID_CATE_CD" property="midCateCd" />
		<result column="MID_CATE" property="midCate" />
		<result column="SUB_CATE_CD" property="subCateCd" />
		<result column="SUB_CATE" property="subCate" />
		<result column="DOC_CD" property="docCd" />
		<result column="DOC_PSV" property="docPsv" />
		<result column="ENR_USER_ID" property="enrUserId" />
		<result column="ENR_DTM" property="enrDtm" />
		<result column="CHANGE_ENR_USER_ID" property="changeEnrUserId" />
		<result column="CHANGE_ENR_DTM" property="changeEnrDtm" />
		<result column="DOCDEL_YN" property="docdel_yn" />



	</resultMap>

	<select id="locodeList" resultMap="codeResultSet">

		SELECT MID_CATE,MID_CATE_CD, SUB_CATE,SUB_CATE_CD
		FROM CODE
		WHERE MAIN_CATE_CD='03' AND DOCDEL_YN ='N'
	</select>

	<select id="dpcodeList" resultMap="codeResultSet">

		SELECT MID_CATE,MID_CATE_CD, SUB_CATE,SUB_CATE_CD
		FROM CODE
		WHERE MAIN_CATE_CD='02'AND DOCDEL_YN ='N'
	</select>

	<select id="comcodeList" resultMap="codeResultSet">

		SELECT MID_CATE,MID_CATE_CD, SUB_CATE,SUB_CATE_CD
		FROM CODE
		WHERE MAIN_CATE_CD='01'AND DOCDEL_YN ='N'
	</select>

	<!-- <update id="codeUpdateStatus">
		UPDATE CODE SET
    <![CDATA[
DOCDEL_YN = 'Y'
WHERE (TO_NUMBER(TO_CHAR(TO_DATE(ENR_DTM,'yy/mm/dd'), 'YYYYMMDD'))+TO_NUMBER(TO_CHAR(DOC_PSV))-TO_NUMBER(TO_CHAR(SYSDATE,'yyyymmdd'))) < 0
   ]]></update> -->

<select id="codeOverPsv" resultType="String">
	SELECT DOC_CD FROM CODE WHERE 
	 <![CDATA[(TO_NUMBER(TO_CHAR(TO_DATE(ENR_DTM,'yy/mm/dd'), 'YYYYMMDD'))+TO_NUMBER(TO_CHAR(DOC_PSV))-TO_NUMBER(TO_CHAR(SYSDATE,'yyyymmdd')))<0]]>
</select>

</mapper>